https://pynative.com/python-basic-exercise-for-beginners/

## Basic Exercise for Beginners

Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

In [23]:
def mult_2(n1, n2):
    product = n1*n2
    if product <= 1000:
        return product
    else:
        return n1+n2
    
print("according to que, product of 40 and 50 is :",mult_2(40,50))
print("according to que, product of 40 and 2 is :",mult_2(40,2))

according to que, product of 40 and 50 is : 90
according to que, product of 40 and 2 is : 80

Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [24]:
def print_10():
    pnum = 0
    for i in range(10):
        print("Current num : ",i," previous num :",pnum," sum is : ",i+pnum)
        pnum = i
print_10()

Current num :  0  previous num : 0  sum is :  0
Current num :  1  previous num : 0  sum is :  1
Current num :  2  previous num : 1  sum is :  3
Current num :  3  previous num : 2  sum is :  5
Current num :  4  previous num : 3  sum is :  7
Current num :  5  previous num : 4  sum is :  9
Current num :  6  previous num : 5  sum is :  11
Current num :  7  previous num : 6  sum is :  13
Current num :  8  previous num : 7  sum is :  15
Current num :  9  previous num : 8  sum is :  17

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

In [25]:
def display_even_char(string):
    for i in range(0,len(string),2):
        print(string[i])
string = input("Enter the string : ")
display_even_char(string)

Enter the string : poiuytre
p
i
y
r

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

In [26]:
def remove_char(string,n):
    return(string[int(n):])

string,n = input("Enter the string (give a space) and n to split : ").split()
print(remove_char(string,n))

Enter the string (give a space) and n to split : hjghfgdfsdas 3
hfgdfsdas

Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [27]:
def is_same(li):
    if li[0]==li[-1]:
        return True
    else:
        return False
li = [10, 20, 30, 40, 10]
print(is_same(li))
lis = [75, 65, 35, 75, 30]
print(is_same(lis))

True
False

Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [28]:
def div_5(li):
    for i in li:
        if i % 5 == 0:
            print(i)
lis = [10, 20, 33, 46, 55]
div_5(lis)

10
20
55

Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [29]:
def count_emma(s):
    return(s.count('emma'))
string = input(r"Enter the string to find 'emma' : ")
print(count_emma(string))

Enter the string to find 'emma' : jthgrfedwemmajhgref
1

Exercise 8: Print the following pattern

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [30]:
for i in range(1,6):
    print()
    for j in range(i):
        print(i,end=' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [31]:
def if_pal(s):
    return s == s[::-1]
print(if_pal(input('enter string to check if palindrome : ')))

enter string to check if palindrome : qwertytrewq
True

Exercise 10: Create a new list from a two list using the following condition.

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list

In [32]:
to_odd = [10, 20, 25, 30, 35]
to_even = [40, 45, 60, 75, 90]

def merglist(odd,even):
    newlist = []
    for i in odd:
        if i % 2 != 0:
            newlist.append(i)
    for i in even:
        if i % 2 == 0:
            newlist.append(i)
    return newlist

merglist(to_odd,to_even)

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [33]:
x = input('enter the integer : ')
# print(x)
for i in range(len(x)-1,-1,-1):
    print(x[i],end=' ')

enter the integer : 5
5

Exercise 12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20

In [34]:
x = int(input('Enter the income : '))
def cal_incometax(x):
    tax = 0
    if x <= 10000:
        tax = x * 0
        
    elif x <= 20000:
        x = x - 10000
        tax = x * 0.1
    else:
        tax = 10000 * 0.1
        x = x - 20000
        tax += x * 0.2
    return tax
print('Payable tax is : ',x+cal_incometax(x))

Enter the income : 23000
Payable tax is :  24600.0

Exercise 13: Print multiplication table form 1 to 10
Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [35]:
for i in range(1,11):
    print()
    for j in range(1,11):
        print(i*j,end = ' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
* * * * *  
* * * *  
* * *  
* *  
*

In [36]:
for i in range(5,-1,-1):
    print()
    for j in range(i):
        print('*',end=' ')

* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [37]:
def exponent(base, exp):
    base = int(base)
    exp = abs(int(exp))
    return base**exp
b,e = input('enter the base and exp : ').split()
print(b,' raises to the power of ',e,': ',exponent(b,e))

enter the base and exp : 5 2
5  raises to the power of  2 :  25

## Python Input and Output Exercise

Exercise 1: Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

In [38]:
num1 = int(input('Enter a number : '))
num2 = int(input('Enter a number : '))
print('Multiplication is : ',num1*num2)

Enter a number : 23
Enter a number : 98
Multiplication is :  2254

Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

In [39]:
print('Name','Is','James',sep='**')

Name**Is**James

Exercise 3: Convert Decimal number to octal using print() output formatting

In [40]:
num = 8
print('%o' % num)

10

Exercise 4: Display float number with 2 decimal places using print()

In [41]:
num = 458.541315
print(round(num,2))

458.54

Exercise 5: Accept a list of 5 float numbers as an input from the user

In [42]:
num = []

for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    num.append(item)

print("User List:", num)

Enter number at location 0 :
3.1
Enter number at location 1 :
0.5
Enter number at location 2 :
0.8
Enter number at location 3 :
9.3
Enter number at location 4 :
.56
User List: [3.1, 0.5, 0.8, 9.3, 0.56]

Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [43]:
with open("I-O exer-6 txt.txt", "r") as fp:
    lines = fp.readlines()

with open("I-O exer-6 new_file.txt", "w") as fp:
    count = 0
    for line in lines:
        if count == 4:
            count += 1
            continue
        else:
            fp.write(line)
        count += 1

Exercise 7: Accept any three string from one input() call
Write a program to take three names as input from a user in the single input() function call.

In [44]:
try:
    name1, name2, name3 = input('Enter three names : ').split()
except:
    print('Enter 3 strings with spaced between')
print(name1,name2,name3,sep='\n')

Enter three names : trwe yterw hrge
trwe
yterw
hrge

Exercise 8: Format variables using a string.format() method.
Write a program to use string.format() method to format the following three variables as per the expected output.

Given:

totalMoney = 1000
quantity = 3
price = 450
Expected Output:

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [45]:
totalMoney = 1000
quantity = 3
price = 450
print('I have {0} dollars so I can buy {1} football for {2:.2f} dollars.'.format(totalMoney,quantity,(float(price))))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

Exercise 9: Check file is empty or not
Write a program to check if the given file is empty or not

In [46]:
import os
size = os.stat("I-O exer-6 txt.txt").st_size
if size == 0:
    print("file is empty")
else :
    print("not empty")

not empty

Exercise 10: Read line number 4 from the following file

In [47]:
with open("I-O exer-6 txt.txt","r") as fp:
    lines = fp.readlines()
    print(lines[3])

line4

## Python Loop Exercise

Exercise 1: Print First 10 natural numbers using while loop

In [48]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern
Write a program to print the following number pattern using a loop.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [49]:
for i in range(1,6):
    print()
    for j in range(1,i+1):
        print(j,' ',end='')

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

Exercise 3: Calculate the sum of all numbers from 1 to a given number
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:

Enter number 10
Sum is:  55

In [50]:
n = int(input("Enter the number :"))
sum = 0
for i in range(1,n+1):
    sum += i
print('Sum is : ',sum)

Enter the number :534
Sum is :  142845

Exercise 4: Write a program to print multiplication table of a given number
For example, num = 2 so the output should be

2
4
6
8
10
12
14
16
18
20

In [51]:
n = int(input("Enter the number : "))
for i in range(1,11):
    print(i*n)

Enter the number : 243
243
486
729
972
1215
1458
1701
1944
2187
2430

Exercise 5: Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:

75
150
145

In [52]:
num = [12, 75, 150, 180, 145, 525, 50]

for i in num:
    if i > 500 :
        break
    elif i > 150 :
        continue
    elif i % 5 == 0 :
        print(i)

75
150
145

Exercise 7: Print the following pattern
Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [53]:
for i in range(5,0,-1):
    print()
    for j in range(i,0,-1):
        print(j,' ',end=' ')

5   4   3   2   1
4   3   2   1
3   2   1
2   1
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected output:

50
40
30
20
10

In [54]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop
Expected output:

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [55]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)
Expected output:

0
1
2
3
4
Done!

In [56]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [57]:
start = 25
end = 50
print("Prime numbers between ", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between  25 and 50 are:
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [58]:
num1, num2 = 0, 1
print("Fibonacci sequence:")

for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

## Python Functions Exercise

Exercise 1: Create a function in Python
Write a program to create a function that takes two arguments, name and age, and print their value.

In [78]:
def name_and_age(name = 'Ron', age = 12):
    print("name is : ", name, "\nage  is : ", age)
name_and_age('qwerty', 15)

name is :  qwerty
age  is :  15

Exercise 2: Create a function with variable length of arguments
Write a program to create function func1() to accept a variable length of arguments and print their value.

In [83]:
def func1(*args):
    for i in args:
        print(i)
func1(54, 54, 'hgefd')

54
54
hgefd

Exercise 3: Return multiple values from a function
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [88]:
def calculation(var1, var2):
    return var1+var2, var1-var2
add, sub = calculation(12,25)
print(add,sub)

37 -13

Exercise 4: Create a function with default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [94]:
def show_employee(name,salary = 9000):
    print("\nName: ",name, "\nSalary: ",salary)
    
show_employee('rhodes')
show_employee('James', 250000)

Name:  rhodes
Salary:  9000

Name:  James
Salary:  250000

Exercise 5: Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [99]:
def outer_fn(a,b):
    
    def inner_fn(a,b):
        return a+b
    
    return 5 + inner_fn(a,b)

outer_fn(5,7)

17

Exercise 6: Create a recursive function
Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself, again and again.

In [100]:
def rec_add(n):
    if n:
        return n + rec_add(n - 1)
    else:
        return 0
rec_add(10)

55

Exercise 7: Assign a different name to function and call it through the new name
Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

Given:

def display_student(name, age):
    print(name, age)

display_student("Emma", 26)
You should be able to call the same function using

show_student(name, age)

In [104]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student

show_student("Emma", 26)

Emma 26
Emma 26

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [105]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 9: Find the largest item from a given list

In [2]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

## Python String Exercise

Exercise 1A: Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.

Given:

str1 = "James"
Expected Output:

Jms

In [5]:
input_str = input("Enter a string with odd length : ")
if len(input_str) % 2 == 1:
    new_str = input_str[0] + input_str[int(len(input_str)/2)] + input_str[-1]
    print(new_str)
else :
    print("Entered string is of even length")

Enter a string with odd length : james
jms

Exercise 1B: Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.

Given:

Case 1

str1 = "JhonDipPeta"
Output

Dip

Case 2

str2 = "JaSonAy"
Output

Son

In [10]:
input_str = input("Enter a string with odd length : ")
if len(input_str) % 2 == 1:
    new_str = input_str[int(len(input_str)/2 - 1)] + input_str[int(len(input_str)/2)] + input_str[int(len(input_str)/2 + 1)]
    print(new_str)
else :
    print("Entered string is of even length")

Enter a string with odd length : JaSonAy
Son

Exercise 2: Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

Given:

s1 = "Ault"
s2 = "Kelly"
Expected Output:

AuKellylt

In [13]:
s1 = "Ault"
s2 = "Kelly"
s3 = s1[0 : int(len(s1)/2)] + s2 + s1[int(len(s1)/2) : int(len(s1))]
print(s3)

AuKellylt

Exercise 3: Create a new string made of the first, middle, and last characters of each input string
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

Given:

s1 = "America"
s2 = "Japan"
Expected Output:

AJrpan

In [15]:
s1 = "America"
s2 = "Japan"
s3 = s1[0] + s2[0] + s1[int(len(s1)/2)] + s2[int(len(s2)/2)] + s1[-1] +s2[-1]
print(s3)

AJrpan

Exercise 4: Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

str1 = PyNaTive
Expected Output:

yaivePNT

In [24]:
check_string = "PyNaTive"

lower = []
upper = []
for c in check_string:
    if c.islower():
        lower.append(c)
    else:
        upper.append(c)

new_string = ''.join(lower + upper)
print(new_string)

yaivePNT

Exercise 5: Count all letters, digits, and special symbols from a given string
Given:

str1 = "P@#yn26at^&i5ve"
Expected Outcome:

Total counts of chars, digits, and symbols 

Chars = 8 
Digits = 3 
Symbol = 4

In [39]:
sample_str = "P@#yn26at^&i5ve"
char_count = 0
digit_count = 0
symbol_count = 0
for i in sample_str:
    if i.isalpha():
        char_count += 1
    elif i.isdigit():
        digit_count += 1
    else:
        symbol_count += 1

print("Chars =", char_count, "\nDigits =", digit_count, "\nSymbol =", symbol_count)

Chars = 8
Digits = 3
Symbol = 4

Exercise 6: Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

Given:

s1 = "Abc"
s2 = "Xyz"
Expected Output:

AzbycX

In [42]:
s1 = "Abc"
s2 = "Xyz"
s2 = s2[::-1]
length = len(s1) if len(s1) > len(s2) else len(s2)
result = ""

for i in range(length):
    if i < len(s1):
        result = result + s1[i]
    if i < len(s2):
        result = result + s2[i]
        
print(result)

AzbycX

Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

Given:

Case 1:

s1 = "Yn"
s2 = "PYnative"
Expected Output:

True
Case 2:

s1 = "Ynf"
s2 = "PYnative"
Expected Output:

False

In [43]:
def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag

s1 = "Ynf"
s2 = "PYnative"
print("s1 and s2 are balanced:", string_balance_test(s1, s2))

s1 and s2 are balanced: False

Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Write a program to find all occurrences of “USA” in a given string ignoring the case.

Given:

str1 = "Welcome to USA. usa awesome, isn't it?"
Expected Outcome:

The USA count is: 2

In [48]:
string = "Welcome to USA. usa awesome, isn't it?"

sub_string = "USA"
temp_string = string.lower()

count = temp_string.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

Exercise 9: Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

Given:

str1 = "PYnative29@#8496"
Expected Outcome:

Sum is: 38 Average is  6.333333333333333

In [52]:
str1 = "PYnative29@#8496"
summ = 0
digit_count = 0
for i in str1:
    if i.isdigit():
        digit_count += 1
        summ += int(i)
print("Sum is : ",summ, "\nAverage i s: ",summ/digit_count)

Sum is :  38
Average i s:  6.333333333333333

Exercise 10: Write a program to count occurrences of all characters within a string
Given:

str1 = "Apple"
Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [53]:
string = "Apple"

char_dict = dict()

for c in string:
    count = string.count(c)
    char_dict[c] = count
    
print(char_dict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
Exercise 11: Reverse a given string
Given:

str1 = "PYnative"
Expected Output:

evitanYP

In [54]:
str1 = "PYnative"
print(str1[::-1])

evitanYP

Exercise 12: Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string.

Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."
Expected Output:

Last occurrence of Emma starts at index 43

In [55]:
string = "Emma is a data scientist who knows Python. Emma works at google."

idx = string.rfind("Emma")
print("Last occurrence of Emma starts at index:", idx)

Last occurrence of Emma starts at index: 43

Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

Given:

str1 = Emma-is-a-data-scientist

Expected Output:

Displaying each substring

Emma
is
a
data
scientist

In [56]:
str1 = "Emma-is-a-data-scientist"
str1_list = str1.split('-')
for i in str1_list:
    print(i)

Emma
is
a
data
scientist

Exercise 14: Remove empty strings from a list of strings
Given:

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
Expected Output:

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [57]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
non_empty_str_list = []
for e in str_list:
    if e:
        non_empty_str_list.append(e)
print(non_empty_str_list)

['Emma', 'Jon', 'Kelly', 'Eric']

Exercise 15: Remove special symbols / punctuation from a string
Given:

str1 = "/*Jon is @developer & musician"
Expected Output:

"Jon is developer musician"

In [60]:
import re
str1 = "/*Jon is @developer & musician"
print(re.sub('[^A-Za-z0-9 ]+', '', str1))

Jon is developer  musician

Exercise 16: Removal all characters from a string except integers
Given:

str1 = 'I am 25 years and 10 months old'
Expected Output:

2510

In [61]:
import re
str1 = 'I am 25 years and 10 months old'
print(re.sub('[^0-9]+', '', str1))

2510

Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

Given:

str1 = "Emma25 is Data scientist50 and AI Expert"
Expected Output:

Emma25
scientist50

In [74]:
import re
str1 = "Emma25 is Data scientist50 and AI Expert"
for word in str1.split():
    if any(char.isalpha() for char in word) and any(char.isdigit() for char in word):
        print(word)

Emma25
scientist50

Exercise 18: Replace each special symbol with # in the following string
Given:

str1 = '/*Jon is @developer & musician!!'
Expected Output:

##Jon is #developer # musician##

In [78]:
import string

str1 = '/*Jon is @developer & musician!!'
for char in string.punctuation:
    str1 = str1.replace(char, '#')
print(str1)

##Jon is #developer # musician##

## Python Data Structure Exercise

Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second
Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

Given:

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
Expected Output:

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]

Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [5]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

odd_elements = l1[1::2]
even_elements = l2[0::2]
final_list = odd_elements + even_elements
print(final_list)

[6, 12, 18, 4, 12, 20, 28]

Exercise 2: Remove and add item in a list
Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

Given:

list1 = [54, 44, 27, 79, 91, 41]
Expected Output:

List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [7]:
list1 = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", list1)
element = list1.pop(4)
print("List After removing element at index 4 ", list1)

list1.insert(2, element)
print("List after Adding element at index 2 ", list1)

list1.append(element)
print("List after Adding element at last ", list1)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

Exercise 3: Slice list into 3 equal chunks and reverse each chunk
Given:

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
Expected Outcome:

Chunk  1 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  2 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  3 [78, 45, 89]
After reversing it  [89, 45, 78]

In [15]:
list1 = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Orignal list : ", list1)

chunk1 = list1[0:int(len(list1)/3)]
print("Chunk 1 : ", chunk1[::-1])

chunk2 = list1[int(len(list1)/3) : 2 * int(len(list1)/3) ]
print("Chunk 2 : ", chunk2[::-1])

chunk3 = list1[2 * int(len(list1)/3):]
print("Chunk 3 : ", chunk3[::-1])

Orignal list :  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk 1 :  [8, 45, 11]
Chunk 2 :  [12, 14, 23]
Chunk 3 :  [89, 45, 78]

Exercise 4: Count the occurrence of each element from a list
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

Given:

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
Expected Output:

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [17]:
list1 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
list_count = {}
for i in list1:
    count = list1.count(i)
    list_count[i] = count
    
print(list_count)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Exercise 5: Create a Python set such that it shows the element from both lists in a pair
Given:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
Expected Output:

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [21]:
list1 = [2, 3, 4, 5, 6, 7, 8]

list2 = [4, 9, 16, 25, 36, 49, 64]

result = zip(list1, list2)
result_set = set(result)
print(result_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

Given:

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
Expected Output:

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}

In [23]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

intersection = first_set.intersection(second_set)

print("Intersection is ",intersection)

for i in intersection:
    first_set.remove(i)
print("First Set after removing common element ", first_set)

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}

Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set
Given:

first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}
Expected Output:

First set is subset of second set - True
Second set is subset of First set -  False

First set is Super set of second set -  False
Second set is Super set of First set -  True

First Set  set()
Second Set  {67, 73, 43, 48, 83, 57, 29}

In [26]:
first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("\nFirst set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("\nFirst set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

elif second_set.issubset(first_set):
    second_set.clear()

print("\nFirst Set ", first_set)
print("Second Set ", second_set)

First Set  {57, 83, 29}
Second Set  {67, 73, 43, 48, 83, 57, 29}

First set is subset of second set - True
Second set is subset of First set -  False

First set is Super set of second set -  False
Second set is Super set of First set -  True

First Set  set()
Second Set  {67, 73, 43, 48, 83, 57, 29}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
Given:

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
Expected Outcome:

After removing unwanted elements from list [47, 69, 76, 97]

In [43]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("After removing unwanted elements from list ", roll_number)

After removing unwanted elements from list  [47, 69, 76, 97]

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates
Given:

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
Expected Outcome:

[47, 52, 44, 53, 54]

In [44]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
list_values = list(set(speed.values()))
print(list_values)

[44, 47, 52, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number
Given:

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:

unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [47]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
sample_list = list(set(sample_list))
print("Unique items : ", sample_list)

sample_tuple = tuple(sample_list)
print("tuple : ", sample_tuple)

print("min : ", min(sample_tuple))
print("max : ", max(sample_tuple))

Unique items :  [65, 99, 41, 45, 87, 94]
tuple :  (65, 99, 41, 45, 87, 94)
min :  41
max :  99

## Python List Exercise

## Python Dictionary Exercise

## Python Set Exercise

## Python Tuple Exercise

## Python Date and Time Exercise

## Python OOP Exercise

## Python JSON Exercise

## Python NumPy Exercise

## Python Pandas Exercise

## Python Matplotlib Exercise

## Random Data Generation Exercise

## Python Database Exercise

## Exercises for Intermediate developers