https://pynative.com/python-basic-exercise-for-beginners/

## Basic Exercise for Beginners

Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

In [23]:
def mult_2(n1, n2):
    product = n1*n2
    if product <= 1000:
        return product
    else:
        return n1+n2
    
print("according to que, product of 40 and 50 is :",mult_2(40,50))
print("according to que, product of 40 and 2 is :",mult_2(40,2))

according to que, product of 40 and 50 is : 90
according to que, product of 40 and 2 is : 80

Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [24]:
def print_10():
    pnum = 0
    for i in range(10):
        print("Current num : ",i," previous num :",pnum," sum is : ",i+pnum)
        pnum = i
print_10()

Current num :  0  previous num : 0  sum is :  0
Current num :  1  previous num : 0  sum is :  1
Current num :  2  previous num : 1  sum is :  3
Current num :  3  previous num : 2  sum is :  5
Current num :  4  previous num : 3  sum is :  7
Current num :  5  previous num : 4  sum is :  9
Current num :  6  previous num : 5  sum is :  11
Current num :  7  previous num : 6  sum is :  13
Current num :  8  previous num : 7  sum is :  15
Current num :  9  previous num : 8  sum is :  17

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

In [25]:
def display_even_char(string):
    for i in range(0,len(string),2):
        print(string[i])
string = input("Enter the string : ")
display_even_char(string)

Enter the string : poiuytre
p
i
y
r

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

In [26]:
def remove_char(string,n):
    return(string[int(n):])

string,n = input("Enter the string (give a space) and n to split : ").split()
print(remove_char(string,n))

Enter the string (give a space) and n to split : hjghfgdfsdas 3
hfgdfsdas

Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [27]:
def is_same(li):
    if li[0]==li[-1]:
        return True
    else:
        return False
li = [10, 20, 30, 40, 10]
print(is_same(li))
lis = [75, 65, 35, 75, 30]
print(is_same(lis))

True
False

Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [28]:
def div_5(li):
    for i in li:
        if i % 5 == 0:
            print(i)
lis = [10, 20, 33, 46, 55]
div_5(lis)

10
20
55

Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [29]:
def count_emma(s):
    return(s.count('emma'))
string = input(r"Enter the string to find 'emma' : ")
print(count_emma(string))

Enter the string to find 'emma' : jthgrfedwemmajhgref
1

Exercise 8: Print the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [30]:
for i in range(1,6):
    print()
    for j in range(i):
        print(i,end=' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [31]:
def if_pal(s):
    return s == s[::-1]
print(if_pal(input('enter string to check if palindrome : ')))

enter string to check if palindrome : qwertytrewq
True

Exercise 10: Create a new list from a two list using the following condition.

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list

In [32]:
to_odd = [10, 20, 25, 30, 35]
to_even = [40, 45, 60, 75, 90]

def merglist(odd,even):
    newlist = []
    for i in odd:
        if i % 2 != 0:
            newlist.append(i)
    for i in even:
        if i % 2 == 0:
            newlist.append(i)
    return newlist

merglist(to_odd,to_even)

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [33]:
x = input('enter the integer : ')
# print(x)
for i in range(len(x)-1,-1,-1):
    print(x[i],end=' ')

enter the integer : 5
5

Exercise 12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20

In [34]:
x = int(input('Enter the income : '))
def cal_incometax(x):
    tax = 0
    if x <= 10000:
        tax = x * 0
        
    elif x <= 20000:
        x = x - 10000
        tax = x * 0.1
    else:
        tax = 10000 * 0.1
        x = x - 20000
        tax += x * 0.2
    return tax
print('Payable tax is : ',x+cal_incometax(x))

Enter the income : 23000
Payable tax is :  24600.0

Exercise 13: Print multiplication table form 1 to 10
Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [35]:
for i in range(1,11):
    print()
    for j in range(1,11):
        print(i*j,end = ' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
* * * * *  
* * * *  
* * *  
* *  
*

In [36]:
for i in range(5,-1,-1):
    print()
    for j in range(i):
        print('*',end=' ')

* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [37]:
def exponent(base, exp):
    base = int(base)
    exp = abs(int(exp))
    return base**exp
b,e = input('enter the base and exp : ').split()
print(b,' raises to the power of ',e,': ',exponent(b,e))

enter the base and exp : 5 2
5  raises to the power of  2 :  25

## Python Input and Output Exercise

Exercise 1: Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

In [38]:
num1 = int(input('Enter a number : '))
num2 = int(input('Enter a number : '))
print('Multiplication is : ',num1*num2)

Enter a number : 23
Enter a number : 98
Multiplication is :  2254

Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

In [39]:
print('Name','Is','James',sep='**')

Name**Is**James

Exercise 3: Convert Decimal number to octal using print() output formatting

In [40]:
num = 8
print('%o' % num)

10

Exercise 4: Display float number with 2 decimal places using print()

In [41]:
num = 458.541315
print(round(num,2))

458.54

Exercise 5: Accept a list of 5 float numbers as an input from the user

In [42]:
num = []

for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    num.append(item)

print("User List:", num)

Enter number at location 0 :
3.1
Enter number at location 1 :
0.5
Enter number at location 2 :
0.8
Enter number at location 3 :
9.3
Enter number at location 4 :
.56
User List: [3.1, 0.5, 0.8, 9.3, 0.56]

Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [43]:
with open("I-O exer-6 txt.txt", "r") as fp:
    lines = fp.readlines()

with open("I-O exer-6 new_file.txt", "w") as fp:
    count = 0
    for line in lines:
        if count == 4:
            count += 1
            continue
        else:
            fp.write(line)
        count += 1

Exercise 7: Accept any three string from one input() call
Write a program to take three names as input from a user in the single input() function call.

In [44]:
try:
    name1, name2, name3 = input('Enter three names : ').split()
except:
    print('Enter 3 strings with spaced between')
print(name1,name2,name3,sep='\n')

Enter three names : trwe yterw hrge
trwe
yterw
hrge

Exercise 8: Format variables using a string.format() method.
Write a program to use string.format() method to format the following three variables as per the expected output.

Given:

totalMoney = 1000
quantity = 3
price = 450
Expected Output:

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [45]:
totalMoney = 1000
quantity = 3
price = 450
print('I have {0} dollars so I can buy {1} football for {2:.2f} dollars.'.format(totalMoney,quantity,(float(price))))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

Exercise 9: Check file is empty or not
Write a program to check if the given file is empty or not

In [46]:
import os
size = os.stat("I-O exer-6 txt.txt").st_size
if size == 0:
    print("file is empty")
else :
    print("not empty")

not empty

Exercise 10: Read line number 4 from the following file

In [47]:
with open("I-O exer-6 txt.txt","r") as fp:
    lines = fp.readlines()
    print(lines[3])

line4

## Python Loop Exercise

Exercise 1: Print First 10 natural numbers using while loop

In [48]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern
Write a program to print the following number pattern using a loop.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [49]:
for i in range(1,6):
    print()
    for j in range(1,i+1):
        print(j,' ',end='')

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

Exercise 3: Calculate the sum of all numbers from 1 to a given number
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:

Enter number 10
Sum is:  55

In [50]:
n = int(input("Enter the number :"))
sum = 0
for i in range(1,n+1):
    sum += i
print('Sum is : ',sum)

Enter the number :534
Sum is :  142845

Exercise 4: Write a program to print multiplication table of a given number
For example, num = 2 so the output should be

2
4
6
8
10
12
14
16
18
20

In [51]:
n = int(input("Enter the number : "))
for i in range(1,11):
    print(i*n)

Enter the number : 243
243
486
729
972
1215
1458
1701
1944
2187
2430

Exercise 5: Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:

75
150
145

In [52]:
num = [12, 75, 150, 180, 145, 525, 50]

for i in num:
    if i > 500 :
        break
    elif i > 150 :
        continue
    elif i % 5 == 0 :
        print(i)

75
150
145

Exercise 7: Print the following pattern
Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [53]:
for i in range(5,0,-1):
    print()
    for j in range(i,0,-1):
        print(j,' ',end=' ')

5   4   3   2   1
4   3   2   1
3   2   1
2   1
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected output:

50
40
30
20
10

In [54]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop
Expected output:

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [55]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)
Expected output:

0
1
2
3
4
Done!

In [56]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [57]:
start = 25
end = 50
print("Prime numbers between ", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between  25 and 50 are:
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [58]:
num1, num2 = 0, 1
print("Fibonacci sequence:")

for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
## Python Functions Exercise

In [60]:
## Python String Exercise

In [61]:
## Python Data Structure Exercise

In [62]:
## Python List Exercise

In [63]:
## Python Dictionary Exercise

In [64]:
## Python Set Exercise

In [65]:
## Python Tuple Exercise

In [66]:
## Python Date and Time Exercise

In [67]:
## Python OOP Exercise

In [68]:
## Python JSON Exercise

In [69]:
## Python NumPy Exercise

In [70]:
## Python Pandas Exercise

In [71]:
## Python Matplotlib Exercise

In [72]:
## Random Data Generation Exercise

In [73]:
## Python Database Exercise

In [74]:
## Exercises for Intermediate developers